@font-face {
    font-family: neue;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
    font-family: helv;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

@font-face {
    font-family: gilo;
    src: url(./Gilroy-Medium_eHDK2RllDd.ttf);
}

@font-face {
    font-family: gilb;
    src: url(./Gilroy-Bold_JK4cTGJOE.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
}

.nav1 img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav1 h2 {
    cursor: pointer;
    font-family: neue;
    font-weight: 400;
    font-size: 16px;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px 40px;
}

.nav2 h4 {
    cursor: pointer;
    font-family: neue;
    font-weight: 400;
}

.nav2 h4 i {
    font-size: 22px;
}

.btn1 {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    font-family: neue;
    border-radius: 20px;
    cursor: pointer;
    color: white;
   overflow: hidden;
    transition:"0.3s",
        width 0.3s ease,
        transform 0.3s ease;
}

.btn1:hover {
    background-color: orangered;
    box-shadow: 0 2px 15px rgb(248, 88, 30);
}
.btn:hover::after{
    width:100%;
}


.nav3 {
    display: none;
    align-items: center;
    gap: 8px;
    padding: 15px 20px;
}

.nav3 h4 {
    cursor: pointer;
    font-family: neue;
    padding: 8px 10px;
}

@media (max-width:1200px) {
    .nav1 {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 20px;
    }

    .nav1 img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .nav1 h2 {
        cursor: pointer;
        font-family: neue;
        font-weight: 300;
        font-size: 12px;
    }

    .nav2 {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 10px 35px;
    }

    .nav2 h4 {
        cursor: pointer;
        font-family: neue;
        font-weight: 300;
    }

    .nav2 h4 i {
        font-size: 18px;
    }

    .btn1 {
        background-color: rgb(3, 77, 27);
        border: none;
        padding: 5px 10px;
        font-family: neue;
        border-radius: 20px;
        cursor: pointer;
    }

    .nav3 {
        display: none;
        align-items: center;
        gap: 4px;
        padding: 10px 15px;
    }

    .nav3 h4 {
        cursor: pointer;
        font-family: neue;
        padding: 3px 5px;
    }
}


@media (max-width:800px) {
    .nav1 {
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 5px 10px;
    }

    .nav1 img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .nav1 h2 {
        cursor: pointer;
        font-family: neue;
        font-weight: 200;
        font-size: 10px;
    }

    .nav2 {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px 30px;
    }

    .nav2 h4 {
        cursor: pointer;
        font-family: neue;
        font-weight: 300;
    }

    .nav2 h4 i {
        font-size: 12px;
    }

    .btn1 {
        background-color: rgb(3, 77, 27);
        border: none;
        padding: 5px 5px;
        font-family: neue;
        border-radius: 20px;
        cursor: pointer;
    }

    .nav3 {
        display: none;
        align-items: center;
        gap: 6px;
        padding: 10px 10px;
    }

    .nav3 h4 {
        cursor: pointer;
        font-family: neue;
        padding: 3px 5px;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 10px 12px;
    }

    .nav1 img {
        height: 28px;
        width: 28px;
    }

    .nav1 h2 {
        font-size: 12px;
    }

    .nav2 {
        display: none;
    }

    .nav3 {
        display: flex;
    }
}
section{
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    
    font-family: helv;
    gap:60px;
}
.one{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    gap:15px;
}
.ph{
       display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 50px;
    }
.two{
    margin-left: 20px;
    font-family:gilb ;
}
.input{
    width:90%;
    align-items: center;
    justify-content: center;
        padding:10px 15px;
            border-radius: 5px;
             border-style: none;
             background-color: rgb(86, 85, 85);
    color: white;

}
.arrow{
   
   width:25px;
}
.place{
    background-color: rgb(86, 85, 85);
    margin-top: 15px;
    display: flex;
    width:100%;
    max-width: 500px;
                border-radius: 5px;

    height: auto;
    max-width: 400px;
    

}
.password-box{
    background-color: rgb(86, 85, 85);
    margin-top: 15px;
    display: flex;
    width:100%;
    max-width: 500px;
                border-radius: 5px;

    height: auto;
    max-width: 400px;
    

}
.password{
    width:100%;
    align-items: center;
    justify-content: center;
        padding:10px 15px;
            border-radius: 5px;
             border-style: none;
             background-color: rgb(86, 85, 85);
    color: white;

}
section .h4{
     display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 200;
    font-family: gilb;
    gap:15px;
}
.google{
    margin-top: 30px;
}
.ri-google-fill{
    background-color: brown;
    padding:10px 15px;
    border-radius: 15px;
          margin-top: 40px;

}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
          margin-top: 40px;

}
.orange{
    color:rgb(255, 80, 17);
    font-weight: 100;
}